
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.suo
/DictionaryLinq.Tests/bin/
/DictionaryLinq.Tests/obj/
/DictionaryLinq/bin/
/DictionaryLinq/obj/
/_ReSharper.DictionaryLinq/
packages/
*.dotCover
*.user
*.cache